.product-card {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-family: 'Simplon Norm', sans-serif;
  margin: 12px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.product-card-image {
  width: 100%;
  height: 344px;
}

.product-card-content {
  padding: 10px 8px 16px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  color: #252020;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3;
}

.product-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.product-card-text {
  font-size: 14px;
  color: #888792;
  line-height: 1.4;
  width: 85%;
}

.product-card-signin {
  text-decoration: underline;
  cursor: pointer;
  color: #888792;
}

.product-card-wishlist-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .product-card {
    margin: 2px;
    border-radius: 6px;
    background-color: #fff;
    width: 150px;
    padding: 1px;
  }

  .product-card-image {
    height: 220px;
    width: 150px;
  }

  .product-card-content {
    padding: 8px 10px;
    text-align: center;
    width: 150px;
  }

  .product-card-title {
    font-size: 15px;
    letter-spacing: 0.5px;
  }

  .product-card-info {
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
    gap: 6px;
  }

  .product-card-text {
    font-size: 12px;
  }

  .product-card-wishlist-btn {
    font-size: 22px;
  }
}
