.sidebar {
  width: 400px;
  background-color: #fff;
  font-family: 'Simplon Norm', sans-serif;
  color: #000;
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.filter-group {
  border-bottom: 1px solid #ddd;
  padding: 10px 12px;
}

.filter-title {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-label {
  font-size: 13px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}

.filter-subtext {
  font-size: 13px;
  color: #000;
  margin: 0;
  padding-top: 10px;
}

.filter-content {
  padding-top: 8px;
  padding-left: 0px;
}

.unselect-text {
  color: #bfc8cd;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.filter-content ul {
  list-style: none;
  margin: 6px 0 0;
  padding: 0;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  margin-bottom: 4px;
}

.filter-item input {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.top-filter {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
}

.filter-heading {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  font-family: 'Simplon Norm', sans-serif;
  text-transform: uppercase;
}

.filter-arrow {
  font-size: 12px;
  color: #333;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80%;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  }

  .filter-section {
    flex-direction: column;
  }

  .filter-group {
    padding: 10px 0;
  }

  .filter-label {
    font-size: 14px;
  }

  .filter-subtext,
  .unselect-text {
    font-size: 12px;
  }

  .filter-item {
    font-size: 13px;
  }

  .sidebar-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}
